.widget-body table .column {
    float: left;
    width: 15%;
    text-align: center;
    font-size: 11px;
}

.widget-body table .line-news {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ededed;
    padding: 9px 0;
    font-weight: 700;
}
.widget-body table thead .column {
    text-transform: uppercase;
    color: #069251;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
}

.widget-body table th {
    background-color: #9fd6ef;
    border: none !important;
    border-bottom: 1px solid #d9e5ed !important;
    line-height: 30px;
    font-weight: 700;
    float: left;
    width: 100%;
}

.widget-body table td{
    border: none !important;
}
.red {
    color: #f15f0f;
}

.green {
    color: #069251;
}
.percent-20 {
    width: 20% !important;
}
.margin-top-20 {
    margin-top: 20px;
}
