<div class="svc-social-item {{=it.feed}} {{=it.grid_columns_count_for_tablet}} {{=it.grid_columns_count_for_mobile}} {{=it.grid_columns_count_for_desktop}}  social_animated vc_social_tm2" dt-create="{{=it.dt_create}}" social-feed-id="{{=it.id}}" vc-social-effect="{{=it.effect}}" vc-social-effect="{{=it.effect}}">
	<div class="social-feed-element">
        <div class="svc_content">
			<div class="svc_top_author">
				<a class="svc-pull-left" href="{{=it.author_link}}" target="_blank">
					<img class="media-object" src="{{=it.author_picture}}">
				</a>
				<div class="media-body">
					<p>
						<i class="fa fa-{{=it.social_network}}"></i>
						<span class="svc-author-title">{{=it.author_name}}</span>
						<span class="muted svc-pull-right svc-date"> {{=it.time_ago}}</span>  
					</p>
				</div>
			</div>
			{{? it.text != '...'}}
            <div class='svc-text-wrapper'>
                <div class="social-feed-text">{{=it.text}} <a href="{{=it.link}}" target="_blank" class="read-button"><i class="fa fa-external-link"></i></a></div>
            </div>
			{{?}}
        </div>
		{{=it.attachment}}
	</div>
</div>
