.svc-pt-bt{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: #fd4326;
	padding: 0 15px;
	line-height: 38px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 11px;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #fd4326;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.svc-pt-bt:hover, .svc-pt-bt:focus{
	background: #ffffff;
	color: #fd4326;
}
.svc-pt-bt .fa{margin-right: 6px;}
.parallax-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: 0 50%;
}
.svc-pt-section-title {
  position: relative;
}
.svc-pt-section-title h3{
	font-weight: 300;
	font-size: 30px;
	color: #252525;
	margin-top: 0;
	line-height: 30px;
	margin-bottom: 10px;
}
.svc-pt-section-title p{
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
}
.svc-pt-section-title.title-light h3{
	color: white;
}
.svc-pt-section-title.title-light p{
	color: #cecece;
}
.svc-pt-overlay, .overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.85);
}
.svc-pt-style-button{
	background: none repeat scroll 0 0 #42454a;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;;
}
.svc-pt-style-button:hover{
	background: #fd4326;
	color: #ffffff;
}
/* ----------------------- */
/*		PRICING TABLE 1    */
/* ----------------------- */
.svc-pt-pricing-table-style1{
	padding: 25px 20px;
	background: #f3f3f3;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #676a6f;
	font-size: 14px;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	margin-top: 130px
}
.svc-pt-pricing-table-style1  ul{padding: 0; list-style: none;}
.svc-pt-pricing-table-style1 .price-unit{
	width: 100px;
	height: 100px;
	padding-top: 25px;
	border: 3px solid #42454a;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #42454a;
	margin: -70px auto 0;
	box-sizing: border-box;
}
.svc-pt-pricing-table-style1 .price{
	font-size: 30px;
	color: white;
	line-height: 30px;
	display: block;
}
.svc-pt-pricing-table-style1 .unit{
	color: white;
}
.svc-pt-pricing-table-style1 h3{
	font-weight: 500;
	font-size: 16px;
	color: #252525;
	text-transform: uppercase;
	margin: 25px 0 12px 0;
}
.svc-pt-pricing-table-style1 li{
	border-bottom: 1px solid #E5E5E5;
	line-height: 48px;
}
.svc-pt-pricing-table-style1.active li a
{
	color: #676a6f;
}
.svc-pt-pricing-table-style1 li:last-child{
	border: none;
}
.svc-pt-pricing-table-style1 a.cta_pricing{
	background: #42454a;
	color: white;
	text-transform: uppercase;
	margin-top: 35px;
	padding: 0 30px;
	line-height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.svc-pt-pricing-table-style1 a.cta_pricing:hover,
.svc-pt-pricing-table-style1 a.cta_pricing:focus{
	background: #fd4326;
}
.svc-pt-pricing-table-style1.active{
	background: #fd4326;
	color: white;
}
.svc-pt-pricing-table-style1.active .price-unit{
	border: 3px solid #ffffff;
	background: #fd4326;
}
.svc-pt-pricing-table-style1.active h3{
	color: #ffffff;
}
.svc-pt-pricing-table-style1.active li{
	border-color: rgba(255,255,255,0.2);
}
.svc-pt-pricing-table-style1.active a.cta_pricing{
	background: rgba(255,255,255,0.2);
}
.svc-pt-pricing-table-style1.active a.cta_pricing:hover,
.svc-pt-pricing-table-style1.active a.cta_pricing:focus{
	color: #fd4326;
	background: #ffffff;
}
/* ----------------------------- */
/*           PRICING TABLE 2     */
/* ----------------------------- */
#pricing-table-2 {
  background: #f3f3f3;
  padding: 95px 0 115px 0;
}
.svc-pt-pricing-table-style2{
	background: #42454a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #b0b0b0;
	margin-top: 60px;
	padding: 25px 20px;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.svc-pt-pricing-table-style2 ul{
	padding: 0;
}
.svc-pt-pricing-table-style2 h3{
	color: white;
	font-size: 20px;
	font-weight: 300;
	 margin-bottom: 0;
    margin-top: 15px;
}
.svc-pt-pricing-table-style2 .price-unit {
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 100px;
  padding-top: 25px;
  width: 100px;
  color: #ffffff;
  margin: 20px auto;
  box-sizing: border-box;
}
.svc-pt-pricing-table-style2 .price-unit .price {
  color: white;
  display: block;
  font-size: 30px;
  line-height: 30px;
}
.svc-pt-pricing-table-style2 li {
  line-height: 40px;
  list-style: none;
}
.svc-pt-pricing-table-style2 a.cta_pricing {
  background: #57595e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 12;
  line-height: 40px;
  margin-top: 32px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.svc-pt-pricing-table-style2 a.cta_pricing:hover{
	background: #fd4326;
}
.svc-pt-pricing-table-style2.active{
	background: #fd4326;
	color: white;
}
.svc-pt-pricing-table-style2.active a.cta_pricing{
	background: rgba(255, 255, 255, 0.2);
}
.svc-pt-pricing-table-style2.active a.cta_pricing:hover{
	background: #ffffff;
	color: #fd4326;
}
/* ----------------------------- */
/*          COMPARE TABLE        */
/* ----------------------------- */
#compare {
  padding: 135px 0 90px;
}
.svc-pt-compare-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 60px;
}
.svc-pt-compare-table th, .svc-pt-compare-table td{
	width: 16.6666%;
	text-align: center;
}
.svc-pt-compare-table th{
	background: #42454a;
	color: #ffffff;
	font-size: 18px;
	padding: 17px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.svc-pt-compare-table .title-compare-table td{
	background: #cccccc;
	font-size: 12px;
	padding: 8px;
}
.svc-pt-compare-table td{
	border: 1px solid #D9D9D9;
	padding: 20px 8px 15px;
	background: #f3f3f3;
	font-weight: 400;
	color: #252525;
	text-transform: uppercase;
}
.svc-pt-compare-table td:first-child{
	border-left: none;
}
.svc-pt-compare-table td:last-child{
	border-right: none;
}
.svc-pt-compare-table td .compare-name{
	font-weight: bold;
	display: block;
	line-height: 20px;
}
.svc-pt-compare-table td .compare-line{
	font-weight: 300;
	display: block;
	color: #7f7f7f;
	line-height: 20px;
	text-transform: capitalize;
}
.svc-pt-compare-table .svc-pt-bt.cta-compare {
  padding: 0 23px;
}
.svc-pt-compare-table td .compare-price{
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	vertical-align: top;
}
.svc-pt-compare-table td .compare-unit{
	font-weight: 300;
	text-transform: lowercase;
	display: inline-block;
	width: 46px;
	height: 46px;
	position: relative;
	line-height: normal;
}
.svc-pt-compare-table td .compare-unit:after{
	content: "";
	width: 35px;
	height: 1.5px;
	background: #252525;
	position: absolute; 
	left: 0px;
    top: 28px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.svc-pt-compare-table td .compare-unit .top-unit {
  left: 0;
  position: absolute;
  top: 0;
}
.svc-pt-compare-table td .compare-unit .bt-unit {
  bottom: 0;
  position: absolute;
  right: 0;
}

.svc-pt-service-img{
    background: #f3f3f3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.svc-pt-pricing-img img {
    width: 100%;
}
.svc-pt-service-img .service-img{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #e4e4e4;
    text-align: center;
}
.svc-pt-service-img .service-img img{
    vertical-align: middle;
}
.svc-pt-service-img .service-content{
    font-size: 14px;
    color: #737373;
    text-align: center;
    padding: 30px;
}
.svc-pt-service-img .service-content h4{
    font-size: 20px;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    text-align: center;
}
.svc-pt-service-img .service-content a.cta_pricing{
    background: #fd4326;
    border: 1px solid #fd4326;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.svc-pt-service-img .service-content a.cta_pricing:hover{
    background: #ffffff;
    color: #fd4326;
}
.svc-pt-service-img .svc-pt-price-unit{
    padding: 15px 0;
}
.svc-pt-service-img .svc-pt-price-unit .price {
    color: #252525;
    font-size: 35px;
}
.svc-pt-service-img .svc-pt-price-unit .cta_pricing{}


.svc-pt-pricing-table-style3 {
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.svc-pt-pricing-table-style3 .price-title {
    padding: 20px;
}
.svc-pt-pricing-table-style3 .price-icon{
    display: block;
    text-align: center;
}
.svc-pt-pricing-table-style3 .price-icon .pricing-icon{
    background: #fd4326;
    color: #fff;
    width: 78px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-size: 27px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: -40px;
    display: inline-block;
}
.svc-pt-pricing-table-style3 .price-title h3{
    font-size: 20px;
    color: #252525;
    text-align: center;
}
.svc-pt-pricing-table-style3 .price-unit{
    padding: 15px 0;
    text-align: center;
    background: #ececec;
}
.svc-pt-pricing-table-style3 .price-unit .price-unit{
    color: #fd4326;
}
.svc-pt-pricing-table-style3 .price-unit .price-unit .price{
    font-size: 35px;
    font-weight: 300;
}
.svc-pt-pricing-table-style3 .price-unit .price-unit .unit {
    font-size: 20px;
}
.svc-pt-pricing-table-style3 ul{
    margin: 0;
    padding: 0;
    color: #252525;
    font-size: 13px;
    list-style: none;
}
.svc-pt-pricing-table-style3 ul li{
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0;
    text-align: center;
    font-weight: 400;
}
.svc-pt-pricing-table-style3 p{
    text-align: center;
    line-height: normal;
}
.svc-pt-pricing-table-style3 p a.cta_pricing{
     background: none repeat scroll 0 0 #42454a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    line-height: 40px;
    margin-top: 30px;
    padding: 0 15px;
    text-decoration: none;
    margin-bottom: 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 1px solid #42454a;
}
.svc-pt-pricing-table-style3.active .price-unit{
    background: #fd4326;
    color: #fff!important;
}
.svc-pt-pricing-table-style3 p a.cta_pricing:hover,.svc-pt-pricing-table-style3.active a.cta_pricing{
    background: none repeat scroll 0 0 #fd4326;
    color: #fff;
    border: 1px solid #fd4326;
}
.svc-pt-pricing-table-style3.active a.cta_pricing:hover{
    background: #ffffff;
    color: #fd4326;
}

/* ----------------------------- */
/*    PRICING TABLE NEW         */
/* ----------------------------- */
.svc-pt-pricingtable-5 table{
	border-collapse: separate;
	margin: 0 auto;
	width: 100%;
}
.svc-pt-pricingtable-5 .svc-pt-pricing-img{
	vertical-align: bottom;
}

.svc-pt-pricingtable-5 table td{width: 20%; border: none; padding: 0;}
.svc-pt-pricingtable-5 .svc-pt-pricing-item{
	background: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 25px;
	text-align: center;
	margin: 0 0 0 30px;
}
.svc-pt-pricingtable-5 .price-icon{
	width: 78px;
	height: 78px;
	background: #fd4326;
	font-size: 27px;
	color: #ffffff;
	line-height: 78px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 0 auto;
}
.svc-pt-pricingtable-5 .price-title{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	margin: 17px 0 20px;
}
.svc-pt-pricingtable-5 .price-unit-vat{
	background: #ebebeb;
	padding: 20px 15px 15px 15px;
}
.svc-pt-pricingtable-5 .price-unit-vat p{
	line-height: normal;
	margin-bottom: 0
}
.svc-pt-pricingtable-5 .price-unit{
	color: #fd4326;
	font-weight: 300;
	letter-spacing: -0.25px;
	display: inline-block;
	width:100%;
}
.svc-pt-pricingtable-5 .price-unit .price{
	font-size: 40px;
}
.svc-pt-pricingtable-5 .price-unit .unit{
	font-size: 20px;
	position: relative;
	top: -17px;
}
.svc-pt-pricingtable-5 .price-unit .unit .per-month{
	font-size: 16px;
}
.svc-pt-pricingtable-5 .desc{
	padding: 20px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0;
}
.svc-pt-pricingtable-5 .svc-pt-bt-pricing{
	line-height: 40px;
	color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #fd4326; 
	border: 1px solid #fd4326;
	display: inline-block;
}
.svc-pt-pricingtable-5 .svc-pt-bt-pricing:hover{
	background: #ffffff;
	color: #fd4326;
	display: inline-block;
}
.svc-pt-pricingtable-5  .title-feature{
	background: #42454a;
	color: #ffffff;
	font-size: 12px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 17px 20px;
}
.svc-pt-pricingtable-5 table tr.list-feature{
	background: #f3f3f3;
}
.svc-pt-pricingtable-5 table td .inner-td{
	margin: 0 0 0 30px;
	text-align: center;
	display: block;
	line-height: 45px;
	border-top: 1px solid #e6e6e6;
	font-size: 13px;
	color: #252525;
	font-weight: 400;
}
.svc-pt-pricingtable-5 table tr.list-feature:nth-child(2n) .inner-td{
	background: #ffffff;
}
.svc-pt-pricingtable-5 table tr.list-feature:nth-child(2n+1) .inner-td{
	background: #f8f8f8;
}
.svc-pt-pricingtable-5 table tr.list-feature td:first-child .inner-td{
	background: none;
	text-align: left;
	margin-left: 20px;
}
.svc-pt-pricingtable-5 .svc-pt-footer-price{
	background: #42454a;
	text-align: center;
	padding: 35px 0;
	margin: 0 0 0 30px;
}
.svc-pt-footer-price p{color: #ffffff; line-height: normal; margin-bottom: 20px}
.svc-pt-pricingtable-5 table td .inner-td.svc-pt-icon-check, .svc-pt-icon-check{
	color: #fd4326;
	font-size: 22px;
}
.svc-pt-pricingtable-5 table td .inner-td.svc-pt-icon-close, .svc-pt-icon-close{
	color: #42454a;
	font-size: 22px;
}
/* WHMCS */
#bridge .navbar{
	margin-top: 20px;
}
/* whmpress 12/2/15 */
#prices_table, #prices_table2{
	border-collapse: collapse;
	margin-top: 40px;
	width: 100%;
	border: none;
	text-align: center;
}
#prices_table th, #prices_table2 th{
	background: none repeat scroll 0 0 #42454a;
	color: #ffffff;
	font-size: 18px;
	padding: 17px;
}
#prices_table td, #prices_table2 td {
  background: none repeat scroll 0 0 #f3f3f3;
  border: 1px solid #d9d9d9;
  color: #252525;
  font-weight: 400;
  padding: 20px 8px 15px;
  text-transform: uppercase;
}
#prices_table td:first-child, #prices_table2 td:first-child {
  border-left: medium none;
}
#prices_table td:last-child, #prices_table2 td:last-child{
  border-right: medium none;
}
#search_price_table, #search_prices_table2{
	border: 1px solid #cbcbcb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	height: 45px;
	padding: 5px 10px;
}
.svc-pt-pricing-table-style3.svc-pt-whmpress{text-align: center;}
.svc-pt-pricing-table-style3.svc-pt-whmpress button{
	margin: 30px auto;
	border: 1px solid #42454a;
}
.svc-pt-pricing-table-style3.svc-pt-whmpress button:hover{
	border-color: #fd4326;
}
.svc-pt-pricing-table-style3.active.svc-pt-whmpress button{
	background: #fd4326;
	border-color: #fd4326;
}
.svc-pt-pricing-table-style3.active.svc-pt-whmpress button:hover{
	background: #ffffff;
	color: #fd4326;
}
.svc-pt-service-img.svc-pt-whmpress .service-content button {
  background: #fd4326;
   border:1px solid #fd4326;
   margin-top: 10px;
   padding: 0 30px;
}
.svc-pt-service-img.svc-pt-whmpress .service-content button:hover {
  background: #ffffff;
  color: #fd4326;
}
.svc-pt-pricing-table-style2.svc-pt-whmpress button{
	margin-top: 35px;
	background: rgba(255, 255, 255, 0.2);
	border: none;
}
.svc-pt-pricing-table-style2.svc-pt-whmpress.active button:hover {
  background: none repeat scroll 0 0 #ffffff;
  color: #fd4326;
}
.svc-pt-pricing-table-style2.svc-pt-whmpress button:hover {
  background: none repeat scroll 0 0 #fd4326;
}
.svc-pt-pricing-table-style1.svc-pt-whmpress button{
	margin-top: 35px;
	border: none;
}
.svc-pt-pricing-table-style1.svc-pt-whmpress button:hover, 
.svc-pt-pricing-table-style1.svc-pt-whmpress button:focus {
  background: #fd4326;
}
.svc-pt-pricing-table-style1.svc-pt-whmpress.active button{
  background: rgba(255, 255, 255, 0.2);
}
.svc-pt-pricing-table-style1.svc-pt-whmpress.active button:hover{
	background: #ffffff;
	color: #fd4326;
}
/* ----------------------------- */
/*         RESPONSIVE         */
/* ----------------------------- */
@media (min-width: 992px) and (max-width: 1200px){
	.svc-pt-special-offer figure {
	  margin-right: 4%;
	  width: 26.14%;
	}
	.svc-pt-special-offer .svc-pt-special-offer-content{
		width: 69.86%;
	}
	.svc-pt-special-offer h3{font-size: 18px;}
	.svc-pt-special-offer p{font-size: 14px;}
	.svc-pt-special-offer .svc-pt-special-offer-content ul li{
		font-size: 12px;
	}
	.svc-pt-special-offer-style2 figure{
		max-width: 240px;
		right: -84px;
		top: 20%;
	}
	.main-header-style2 .main-menu > ul > li > a{
		padding: 0 18px
	}
	.main-header-style2 .main-menu > ul > li.menu-item-has-children > a::after, .main-header-style2 .main-menu > ul > li.megamenu-item > a::after{
		margin-left: 5px;
	}
	.svc-pt-pricingtable-5 .svc-pt-pricing-item,
	.svc-pt-pricingtable-5 table td .inner-td,
	.svc-pt-pricingtable-5 .svc-pt-footer-price
	{margin-left: 20px;}
	.svc-pt-pricingtable-5 table tr.list-feature td:first-child .inner-td{margin-left: 20px}
}
@media (max-width: 991px){
	.svc-pt-pricing-table-style3{margin-top: 40px}
}
/*@media (max-width: 783px){
	.admin-bar .sticky-wrapper.is-sticky .main-header{
		top: 46px!important;
	}
}*/
@media (min-width: 768px) and (max-width: 991px){
	.svc-pt-pricingtable-5 .svc-pt-pricing-item,
	.svc-pt-pricingtable-5 table td .inner-td,
	.svc-pt-pricingtable-5 .svc-pt-footer-price
	{margin-left: 10px;}
	.svc-pt-pricingtable-5 table tr.list-feature td:first-child .inner-td{margin-left: 10px}
	.svc-pt-pricingtable-5 table td .inner-td{font-size: 12px;}
	.main-header-style2 .main-menu > ul > li > a{padding: 0 20px}
	div.products div.first {
	  clear: none!important;
	}
	#prices_table th, #prices_table2 th{
		padding: 10px;
		font-size: 14px;
	}
}

@media(max-width: 768px){
	.svc-pt-horizontalTab .resp-tab-content{
		border: 1px solid #DBDBDB;
	}
}
@media (max-width: 767px){
	/* pricing table new */
	.svc-pt-pricingtable-5 table, .svc-pt-pricingtable-5 tbody, .svc-pt-pricingtable-5 tr, .svc-pt-pricingtable-5 td{
		display: block;
	}
	.svc-pt-pricingtable-5 table td{
		width: 100%;
	}
	.svc-pt-pricingtable-5 .section-feature ul{
		padding: 0 10px;
		list-style: none;
		text-align: left;
	}
	.svc-pt-pricingtable-5 .section-feature ul li{
		line-height: 45px;
		border-bottom: 1px solid #e6e6e6;
	}
	.section-feature ul li label {
	  display: inline-block;
	  margin-right: 20px;
	  font-weight: 300;
	  margin-bottom: 0;
	}
	.svc-pt-pricingtable-5 .svc-pt-bt-pricing{margin-top: 20px}
	.svc-pt-pricingtable-5 .svc-pt-pricing-item{margin: 0 0 40px 0}

	#prices_table, #prices_table thead, #prices_table tbody, #prices_table tr, #prices_table th, #prices_table td,
	#prices_table2, #prices_table2 thead, #prices_table2 tbody, #prices_table2 tr, #prices_table2 th, #prices_table2 td{
		display: block;
	}
	#prices_table td:before, #prices_table2 td:before{
		content: attr(data-content);
		padding: 10px 0 0;
		font-weight: bold;
	  	left: 10px;
	  	padding-right: 10px;
	  	position: absolute;
	  	text-align: left;
	  	top: 6px;
	  	white-space: nowrap;
	 	width: 45%;
	}
	#prices_table td, #prices_table2 td{
		  border-left: medium none !important;
		  border-right: medium none !important;
		  border-top: medium none !important;
		  padding-left: 50%;
		  position: relative;
		  text-align: left;
		  white-space: normal;
	}
	#prices_table thead tr, #prices_table2 thead tr {
	  left: -9999px;
	  position: absolute;
	  top: -9999px;
	}
	#prices_table tbody tr, #prices_table2 tbody tr{
		margin-bottom: 30px;
	}
}