.accordion-card {
    color: #95979c;
    margin-bottom: 3rem;
}
.card {
    background: white none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.accordion-card header {
    padding: 2rem 2rem 1rem;
}
.accordion-card header .section-title {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
.accordion-panel .panel a {
    outline: medium none;
    text-decoration: none;
}
.accordion-panel .panel {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: medium none;
    border-radius: 0 !important;
    position: relative;
    margin-top: 0 !important;
}
.accordion-panel .panel::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%) repeat-x scroll 0 0;
    content: " ";
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.accordion-panel .panel .panel-heading {
    background-color: rgba(0, 0, 0, 0.35);
    border: medium none;
    padding: 2rem;
    position: relative;
    transition: background-color 0.65s ease 0s;
    border-radius: 0;
}
.accordion-panel .panel .panel-collapse.in + a .panel-heading {
    background-color: rgba(0, 0, 0, 0);
}

.accordion-panel .spacer {
    height: 20rem;
}
.accordion-panel .panel .panel-body .read-more a{
	display:none;
}
.accordion-panel .panel .panel-body .read-more {
    background: transparent none repeat scroll 0 0;
    border-radius: 4px;
    color: transparent;
    display: inline-block;
    font-weight: 600;
    height: 5rem;
    left: 0;
    line-height: 5rem;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 7.5rem;
    transition: background 0.2s ease 0s;
    width: 40%;
}
.accordion-panel .panel .panel-body a {
    position: relative;
}
.accordion-panel .panel .panel-body:hover .read-more a{
	display:block;
}
.accordion-panel .panel .panel-body:hover .read-more {
    background: rgba(109, 194, 52, 0.9) none repeat scroll 0 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.95);
    z-index:9;
}
.accordion-panel .panel .panel-heading .panel-title {
    color: #fff;
    display: block;
    font-size: 2.25rem;
    font-weight: 400;
    text-decoration: none !important;
}
.accordion-card footer {
    font-size: 14px;
    line-height: 3rem;
    padding: 1rem 2rem;
    text-align: right;
}
.accordion-card footer a {
    color: #95979c;
    text-decoration: none;
}
.panel-group{
	margin-bottom:0px !important;
}
.post_acco_meta,.post_acco_meta a{
	color:#fff;
	font-size: 13px;
    margin-top: 5px;
}
