.inline-flex{ display:inline-flex;}
.svc_testi_image{width:100%;}
/*style1*/
.testi_s1.testimonials-sections .owl-item .testimonial-box{ margin-bottom: 0px; padding-top: 98px;}
.testi_s1.testimonials-sections > div{ padding-top: 45px;}
.testi_s1.testimonials-sections {
  padding-bottom: 60px;
}
.testi_s1.testimonials-sections .testimonial-box {
  margin-bottom: 50px;
  position: relative;
  padding-left: 190px;
  padding-top: 30px;
}
.testi_s1.testimonials-sections .testimonial-box > div {
  border-radius: 100%;
  width: 160px;
  height: 160px;
  border: 7px solid #b6b6b6;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 29px;
  overflow:hidden;
}
.testi_s1.testimonials-sections .testimonial-box p {
  font-size: 13px;
  margin-bottom: 20px;
}
.testi_s1.testimonials-sections .testimonial-box h4 {
  border-top: 7px solid #b6b6b6;
  color: #000000;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding-top: 10px;
  margin: 0 0 0 -110px;
  padding-left: 110px;
}
.testi_s1.testimonials-sections .testimonial-box h4 span {
  color: #808080;
}

/*style2*/
.testi_s2 *::before, .testi_s2 *::after {
    box-sizing: border-box;
}
.testi_s2 .news-entry, .testi_s2 .blockquote-entry{background: #ffffff; margin: 0 10px; border-radius: 5px; -webkit-border-radius: 5px; position: relative;}
.blockback:nth-child(2n) .type-15 .news-entry, .blockback:nth-child(2n) .type-15 .blockquote-entry{background: #fff;}
.testi_s2 .blockquote-entry > div {
    height: 70px;
    left: -35px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    width: 70px;
	overflow:hidden;
	border-radius:100%;
}
.testi_s2 .blockquote-entry{margin-left: 50px; border:1px solid #f2f2f2;}
.testi_s2 .news-wrapper{padding-bottom: 60px;}
.testi_s2 .news-entry .image-wrapper{max-width: 40%; float: left; margin-right: 20px;}
.testi_s2 .news-entry .image-wrapper:hover img{transform: scale(0.9); -moz-transform: scale(0.9); -webkit-transform: scale(0.9); -ms-transform: scale(0.9);}
.testi_s2 .news-entry img{max-width: 100%; height: auto; display: block;}
.testi_s2 .news-entry .content{margin-right: 10px; padding: 20px 0;}
.testi_s2 .news-entry .data-line{font-size: 11px; line-height: 14px; color: #6a7483; margin-bottom: 15px;}
.testi_s2 .news-entry .data-line span{color: #ff6c3a; font-size: 14px; vertical-align: middle; display: inline-block; position: relative; top: -2px; margin-right: 5px;}
.testi_s2 .news-entry .data-line div{display: inline-block; margin-right: 5px;}
.testi_s2 .news-entry .title{font-size: 18px; line-height: 22px; color: #232c3b; font-family: 'bold', sans-serif, Arial; margin-bottom: 15px; display: block;}
.testi_s2 .news-entry .title:hover{color: #ff6c3a;}
.testi_s2 .news-entry .text{font-size: 14px; line-height: 22px; color: #6a7483;}
.testi_s2 .blockquote-entry blockquote{padding: 25px 20px 25px 50px; border:0px;}
.testi_s2 .blockquote-entry blockquote .footer_s2{ font-size:16px;}
.testi_s2 .blockquote-entry blockquote .footer_s2 cite {color: #ff6c3a; float:left; font-weight:bold; font-size:16px;}
.testi_s2 .blockquote-entry .blockquote-icon{width: 70px; height: 70px; position: absolute; left: -35px; top: 50%; margin-top: -35px;}
@media (max-width: 991px) {
	.testi_s2 .news-wrapper{padding-bottom: 30px;}
}



/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/
.owl-item{
    float: left;
    padding: 0px;
}
.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div.owl-prev{
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 3px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 8px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-item > article{ margin:6px !important;}


/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}




/*To move navigation buttons outside use these settings:*/
.owl-theme .owl-controls .owl-buttons div {
padding: 12px 4px;
}
 
.owl-theme .owl-buttons i{
margin-top: 4px;
} 
.owl-theme .owl-controls .owl-buttons div {
position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
left: -14px;
top: 50%;
margin-top: -15px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
right: -13px;
top: 50%;
margin-top: -15px;
}
.owl-theme .owl-buttons .owl-next i{ margin-left:2px;}
.owl-theme .owl-buttons .owl-prev i{ margin-right:2px;}