/*style1*/
.sa-text-center{ text-align: center !important;}
.sa-text-left{ text-align: left !important;}
.sa-text-right{ text-align: right !important;}
.promo_s1.campaign-section .row>div {
  padding: 0;
}
.promo_s1.campaign-section .campaign-box {
  position: relative;
  line-height: 0;
}
.promo_s1.campaign-section .campaign-box .campaign-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15% 25px 25px;
  overflow: hidden;
  z-index: 3;
}
.promo_s1.campaign-section .campaign-box img{ width: 100%;}
.promo_s1.campaign-section .campaign-box:after {
  position: absolute;
  background: #000;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: 2;
  left: 0;
}
.promo_s1.campaign-section .campaign-box .campaign-hover>i {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 50px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  line-height: 70px;
  font-size: 32px;
  border-radius: 50%;
}
.promo_s1.campaign-section .campaign-box .campaign-hover h4 {
  color: #fffefe;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.promo_s1.campaign-section .campaign-box .campaign-hover p {
  color: #d3d3d3;
  font-size: 13px;
  line-height: 13px;
}
.promo_s1.campaign-section .campaign-box .campaign-hover a.read-more {
  color: #9c27b0;
  font-size: 13px;
  line-height: 1.5em;
  vertical-align: baseline;
  outline: none;
}
.promo_s1.campaign-section .campaign-box .campaign-hover a.read-more i {
  line-height: 2em;
  margin-left: 5px;
}
.promo_s1.campaign-section .campaign-box .campaign-hover a.read-more:hover {
  color: #fff;
  text-decoration: none;
}
.promo_s1.campaign-section .campaign-box .campaign-hover a.read-more:hover i {
  margin-left: 10px;
}
.promo_s1.campaign-section .campaign-box:hover:before {
  background: #9c27b0;
  position: absolute;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: 1;
  left: 0;
}
.promo_s1.campaign-section .campaign-box:hover:after {
  opacity: 0.5;
}
.promo_s1.campaign-section .campaign-box:hover a.read-more {
  color: #000;
}



/*style2*/
.promo_s2 .pricing-table .sa-row{ display: flex;}
.promo_s2 .pricing-table {
  position: relative;
  -webkit-transition: 0.1s all ease-in-out 0s;
  -o-transition: 0.1s all ease-in-out 0s;
  transition: 0.1s all ease-in-out 0s;
}
.promo_s2 .pricing-table .table-price {
  color: #72a230;
  font-size: 45px;
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 200;
}
.promo_s2 .pricing-table i{
  border: 2px solid;
  border-radius: 50%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  width: 90px;
}
.promo_s2 .pricing-table:hover i{
  color: #121b26;
}
.promo_s2 .pricing-table .sa-icon img{
  margin-bottom: 10px;
}
.promo_s2 .pricing-table .table-title {
  color: #fff;
  margin: 0;
  padding: 15px 0;
  padding-top: 0;
  font-size: 15px;
}
.promo_s2 .pricing-table p{
  color: #959595;
}
.promo_s2 .pricing-table.table-horizontal {
  background: #121b26;
  padding: 50px 40px;
}
.promo_s2 .pricing-table.table-horizontal:hover {
  background: #58891d;
}
.promo_s2 .pricing-table.table-horizontal .btn-colored {
  background: #58891d;
  color: #fff;
  padding: 6px 15px;
  border-radius: 3px;
  outline: none;
}
.promo_s2 .pricing-table.table-horizontal .btn-colored:hover{ outline: none; text-decoration: none;}
.promo_s2 .pricing-table.table-horizontal:hover .btn-colored{background: #121b26;}