.vc_social_logo{
	background-image: url("../image/round.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_fb_logo{
	background-image: url("../image/facebook.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_insta_logo{
	background-image: url("../image/Instagram.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_twitter_logo{
	background-image: url("../image/twitter.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_gplus_logo{
	background-image: url("../image/gplus.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_youtube_logo{
	background-image: url("../image/youtube.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_tumblr_logo{
	background-image: url("../image/tumblr.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_social_vimeo_logo{
	background-image: url("../image/vimeo.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_animate_text{
	background-image: url("../image/text.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_post_acco_logoo{
	background-image: url("../image/accordion.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_image_carousel{
	background-image: url("../image/image_carousel.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_video_carousel{
	background-image: url("../image/video.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_html_carousel{
	background-image: url("../image/Html.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_price_table{
	background-image: url("../image/table-column.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_compare_table{
	background-image: url("../image/compare-table.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_teams_logo{
	background-image: url("../image/team.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_teams_caro_logo{
	background-image: url("../image/team-caro.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_post_grid_icon{
	background-image: url("../image/post-grid.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_woo_icon{
	background-image: url("../image/WooCommerce.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_liquid_tab_icon{
	background-image: url("../image/tab.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_youtube_popup_logo{
	background-image: url("../image/youtube-popup.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_vimeo_popup_logo{
	background-image: url("../image/vimeo-popup.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.vc_promo_box{
	background-image: url("../image/promo.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}